**/checkins_and_plans
**/"cornell movie-dialogs corpus"
**/cornell movie-dialogs corpus
**/mobiletext
**/parsed_cornell_dialogs
**/cleaned_scripts
**/movies_source
**/split_data
**/git_convo
**/generated_data
**/homemade_contact_name_data